<!--start contact area-->
<section id="contact-area">

    <!--start container-->
    <div class="container" style="padding-bottom: 60px;">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Área de Contato</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!--start contact info-->
            <div class="col-md-6">
                <div class="contact-info">
                    <!--start contact info single-->
                    <div class="contact-info-single text-center">
                        <p>123/B, Hemilton City, Yanki Tower, United Kingdom</p>
                    </div>
                    <!--end contact info single-->
                    <!--start contact info single-->
                    <div class="contact-info-single text-center">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <p>+1 (770) 998 – 33 – 22</p>
                    </div>
                    <!--end contact info single-->
                    <!--start contact info single-->
                    <div class="contact-info-single text-center">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <p>info@example.com</p>
                    </div>
                    <!--end contact info single-->
                </div>
            </div>
            <!--end contact info-->

            <div class="col-md-6">
                <!--start contact form-->
                <div class="contact-form">
                    <form [formGroup]="form" (submit)="submit()">
                        <div class="form-group">
                            <input formControlName="name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input formControlName="phone" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" style="resize: none"></textarea>
                        </div>
                        <div class="contact-btn text-center">
                            <button style="cursor: pointer" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                <!--end contact form-->
            </div>
        </div>
    </div>
    <!--end container-->

    <!--start company info-->
    <div class="company-info">

        <div class="">
            <app-maps style="width: 100%"></app-maps>

        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="footer-info-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper sagittis enim, a
                            sodales enim maximus ac. Nunc egestas volutpat libero rutrum maximus. Morbi accumsan
                            urna erat, quis dictum lorem lobortis vitae. Duis rhoncus purus nulla. Aliquam et
                            ultrices nulla. Etiam tincidunt arcu ac odio vehicula consectetur. Proin hendrerit nunc
                            tortor, ut aliquet dui interdum ac. Phasellus imperdiet efficitur lorem in hendrerit.
                            Duis laoreet porttitor neque, nec imperdiet erat feugiat vestibulum. Maecenas quis
                            purus magna. Vivamus ullamcorper sit amet nunc sit amet semper. Nulla quis diam justo.
                            Maecenas id ornare nulla, in dapibus nulla. Orci varius natoque penatibus et magnis dis
                            parturient montes, nascetur ridiculus mus. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end company info-->

</section>
<!--end contact area-->