@import "../../assets/sass/paper-kit/variables";

.main-wraper {
    // padding-left: 150px;
    transform: translate3d(150px, 0, 0);
    min-height: calc(100vh - #{$media-header-height});
    position: relative;
    transition: 0.3s all;
    // padding-right: 150px;

    &.menu-closed{
        // padding-right: 0!important;
        // padding-left: 0!important;
        transform: translate3d(0px, 0, 0);
        transition: 0.3s all;
    }
}


@media(min-width: 768px) {
    .main-wraper {
        padding-right: 150px;
        &.menu-closed{
            padding-right: 0!important;
        }
    }    
}