<section id="more-info">

  <div class="container" style="padding-bottom: 60px;">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2>Links Úteis</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xs-12" style="display: flex; align-items: center; vertical-align: middle; justify-content: center;">
        <div class="footer-info-content">
          <ul style="padding: 0">

            <li class="link"><a  href="http://www.incra.gov.br/" target="_blank">- INCRA - Instituto Nacional de
                Colonização e Reforma Agrária</a></li>
            <li class="link"><a  href="http://www.patrimoniodetodos.gov.br/#/" target="_blank">- Secretaria do Patrimônio
                da União</a></li>
            <li class="link"><a  href="http://www.irib.org.br/" target="_blank">- IRIB - Instituto de Registro Imobiliário
                do Brasil</a></li>
            <li class="link"><a  href="http://www.sindimoveis.com.br/" target="_blank">- SINDIMÓVEIS - Pernambuco</a></li>
            <li class="link"><a  href="https://cbic.org.br/" target="_blank">- CBIC - Câmara Brasileira da Indústria da
                Contrução</a></li>
            <li class="link"><a  href="http://www2.recife.pe.gov.br/" target="_blank">- Prefeitura do Recife</a></li>
            <li class="link"><a  href="http://www.maceio.al.gov.br/" target="_blank">- Prefeitura de Alagoas</a></li>
            <li class="link"><a  href="https://www.registradores.org.br/index.aspx" target="_blank">- Central Registradora
                de Imóveis</a></li>
            <li class="link"><a  href="http://www.sefaz.al.gov.br/" target="_blank">- SEFAZ - Secretaria da Fazenda de
                Alagoas</a></li>
            <li class="link"><a  href="https://www.sefaz.pe.gov.br/SitePages/Home.aspx" target="_blank">- SEFAZ -
                Secretaria da Fazenda de Pernambuco</a></li>
            <li class="link"><a  href="http://idg.receita.fazenda.gov.br/" target="_blank">- Receita Federal</a></li>
            <li class="link"><a  href="http://fipezap.zapimoveis.com.br/" target="_blank">- Fipezap - Zapimoveis</a></li>

          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-xs-12" style="display: flex; align-items: center; vertical-align: middle; justify-content: center;">
        <div class="p-5">
          <figure>
            <img src="assets/img/brand/5 - Marca_branca_fundo_transparente.png" alt="" class="img-fluid">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>