<section id="about" class="section section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2 class="text-white">Quem somos</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!--start mission content-->
      <div class="col-md-6">
        <div class="mission-content">
          <div class="mission-dots">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <h3 class="text-white">Property Solutions</h3>
          <p class="text-justify">
            Empresa especialmente criada no intuito de satisfazer,
            primordialmente, as necessidades dos nossos clientes, através da
            implementação de ações previamente planejadas, com vistas ao
            desenvolvimento de uma governança imobiliária eficaz perante o
            patrimônio e ativos imobiliários, nas áreas de (i) Property, (ii)
            Legal Permits e (iii) Asset Management.
          </p>
          <p class="text-justify">
            A PROPERTY GOVERNANÇA IMOBILIÁRIA & CONSULTORIA apresenta estrutura
            sólida, formada por profissionais capacitados, os quais permitem
            oferecer aos nossos clientes serviços de regularização e legalização
            de imóveis com rapidez, ética e transparência.
          </p>
        </div>
      </div>
      <!--end mission content-->

      <!--start mission video-->
      <div class="col-md-6">
        <div class="mission-video bg-cover">
          <div class="mission-video-img wow fadeInRight">
            <img
              style="width: 500px"
              src="assets/img/brand/2 - Marca_principal.png"
              class="img-fluid"
              alt=""
            />
            <div class="mission-video-overlay">
              <!-- <div class="d-table">
                <div class="d-table-cell">
                  <a class="popup-video" href="https://www.youtube.com/watch?v=Mi1QBxVjZAw"><i class="fa fa-play"></i>
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!--end mission content-->
    </div>
  </div>
</section>
