<!-- <div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">



      </div>
    </div>
  </div>
</div> -->

<!--start mission area-->
<section id="about" class="section section-dark">
  <!--start container-->
  <div class="container">
    <!--start section heading-->
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2 class="text-white">Quem somos</h2>
        </div>
      </div>
    </div>
    <!--end section heading-->
    <div class="row">
      <!--start mission content-->
      <div class="col-md-6">
        <div class="mission-content">
          <div class="mission-dots">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <h3 class="text-white">Property Solutions</h3>
          <p>
            Empesa especialmente criada no intuito de satisfazer, primordialmente, as necessidades dos
            nossos clientes, através da implementação de ações previamente planejadas, com vistas ao
            desenvolvimento de uma governança imobiliária eficaz perante o patrimônio e ativos
            imobiliários, nas áreas de Property, Legal Permits e Asset Management.
          </p>
          <p>
            Desta forma, damos todo apoio prévio às transações comerciais, realizando a devida
            legalização necessária as aquisições e vendas de imóveis, com vistas a resguardar os
            interesses comerciais e legais dos nossos clientes, bem como as oportunidades de
            investimento imobiliário, de construção e desenvolvimento imobiliário, além do cumprimento
            dos códigos e leis governamentais.
          </p>
        </div>
      </div>
      <!--end mission content-->

      <!--start mission video-->
      <div class="col-md-6">
        <div class="mission-video bg-cover">
          <div class="mission-video-img wow fadeInRight">
            <img src="http://via.placeholder.com/500x360" class="img-fluid" alt="">
            <div class="mission-video-overlay">
              <!-- <div class="d-table">
                <div class="d-table-cell">
                  <a class="popup-video" href="https://www.youtube.com/watch?v=Mi1QBxVjZAw"><i class="fa fa-play"></i>
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!--end mission content-->

    </div>
    <!-- SEPARATOR
      <section class="col-3 ss-style-doublediagonal">
        <div class="column">
          <p>slanted</p>
        </div>
      </section>
    END SEPARATOR -->
  </div>
  <!--end container-->
</section>
<!--end mission area-->