/*-------------------------------------------------------------------------------------
    Section Heading
---------------------------------------------------------------------------------------*/

.section-heading {
    padding: 0 0 80px;
}

.section-heading h6 {
    color: $main-color;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 16px;
}

.section-heading h2 {
    font-weight: 700;
    font-family: 'Merriweather', serif;
}