
.social-links {
    position: fixed!important;
    right: 10px;
    display: flex;
    z-index: 99;
    top: 0;
    height: 100vh;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.social-links ul {
    background: rgba(0, 0, 0, .6);
    padding: 15px;
    margin: 5px 0px;
    border-radius: 30px;
}

.social-links ul li a {
    color: #FFF;
    font-size: 1.2em;
}

/* .social-links ul li a:hover  div  {
    width: 120px;
}

.social-links ul li a > div {
    position: absolute;
    font-family: "source_sans_proregular";
    color: #FFF;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.7);
    right: 44px;
    overflow: hidden;
    width: 0;
    height: 17px;
    padding: 2px 0;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    transition: width 0.5s ease-in;
    -moz-transition: width 0.5s ease-in;
    -ms-transition: width 0.5s ease-in;
    -o-transition: width 0.5s ease-in;
    -webkit-transition: width 0.5s ease-in;
} */