<!--start location area-->
<section id="location-area">
    <div id="location-carousel">
        <!--start location single-->
        <div class="location-single">
            <img src="http://via.placeholder.com/287x224" class="img-responsive" alt="">
            <div class="location-overlay">
                <div class="d-table">
                    <div class="d-table-cell">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end location single-->

        <!--start location single-->
        <div class="location-single">
            <img src="http://via.placeholder.com/287x224" class="img-responsive" alt="">
            <div class="location-overlay">
                <div class="d-table">
                    <div class="d-table-cell">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end location single-->

        <!--start location single-->
        <div class="location-single">
            <img src="http://via.placeholder.com/287x224" class="img-responsive" alt="">
            <div class="location-overlay">
                <div class="d-table">
                    <div class="d-table-cell">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end location single-->

        <!--start location single-->
        <div class="location-single">
            <img src="http://via.placeholder.com/287x224" class="img-responsive" alt="">
            <div class="location-overlay">
                <div class="d-table">
                    <div class="d-table-cell align-middle">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end location single-->

        <!--start location single-->
        <div class="location-single">
            <img src="http://via.placeholder.com/287x224" class="img-responsive" alt="">
            <div class="location-overlay">
                <div class="d-table">
                    <div class="d-table-cell align-middle">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end location single-->

        <!--start location single-->
        <div class="location-single">
            <img src="http://via.placeholder.com/287x224" class="img-responsive" alt="">
            <div class="location-overlay">
                <div class="d-table">
                    <div class="d-table-cell">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end location single-->

        <!--start location single-->
        <div class="location-single">
            <img src="http://via.placeholder.com/287x224" class="img-responsive" alt="">
            <div class="location-overlay">
                <div class="d-table">
                    <div class="d-table-cell">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end location single-->

        <!--start location single-->
        <div class="location-single">
            <img src="http://via.placeholder.com/287x224" class="img-responsive" alt="">
            <div class="location-overlay">
                <div class="d-table">
                    <div class="d-table-cell align-middle">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end location single-->

        <!--start location single-->
        <div class="location-single">
            <img src="http://via.placeholder.com/287x224" class="img-responsive" alt="">
            <div class="location-overlay">
                <div class="d-table">
                    <div class="d-table-cell align-middle">
                        <h4 class="text-white">Lorem ipsum</h4>
                        <a href="#">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end location single-->

    </div>
</section>
<!--end location area-->