<div *ngIf="type.value !== 'videos'" class="card new" [routerLink]="['/midia', type.min, content.id, content.title]">
  <!-- <img class="card-img-top img-fluid" src="//placehold.it/800x560" alt="Card image cap"> -->
  <div class="card-body">
      <span class="badge badge-pill badge-danger" style="color: #FFFFFF!important; font-weight: bold!important">
        <i class="fa fa-tag text-white" style="color: #FFFFFF!important; font-weight: bold!important"></i>
        {{content.category.name}}
      </span>

    <h4 class="card-title">{{content.title}}</h4>
    <p class="card-text" [innerHtml]="createText(content.text)"></p>
    <!-- <blockquote class="card-blockquote">
      <footer>
        <a>
          <small class="text-muted">
            Originalmente publicado em <cite title="Source Title">{{content.url}}</cite>
          </small>
        </a>
      </footer>
    </blockquote> -->
  </div>
</div>

<div *ngIf="type.value === 'videos'" (click)="select()">
  <!-- <img class="card-img-top img-fluid" src="//placehold.it/800x560" alt="Card image cap"> -->
  <div class="video">
    <img src="{{content.thumbnail}}" class="img-fluid" alt="">
    <div class="cover">
      {{content.title}}
    </div>
    <!-- <h4 class="card-title">{{content.title | titlecase}}</h4>
    <p class="card-text">{{createText(content.text) | titlecase}}</p>
    <blockquote class="card-blockquote">
      <footer>
        <a>
          <small class="text-muted">
            Originalmente publicado em <cite title="Source Title">{{content.url}}</cite>
          </small>
        </a>
      </footer>
    </blockquote> -->
  </div>
</div>