<!--start passport process area-->
<section id="passport-process-area">
    <div class="container">
        <!--start section heading-->
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Áreas de atuação</h2>
                </div>
            </div>
        </div>
        <!--end section heading-->
        <div class="row">
            <div role="tabpanel">
                <!--start tab menu-->
                <ul class="nav nav-tabs" role="tablist">
                    <li *ngFor="let area of areas" role="presentation" (click)="selectArea(area.id)" [class.active]="area.id === areaSelected">
                        <a style="cursor: pointer;" role="tab" data-toggle="tab">
                            {{area.label}}
                        </a>
                    </li>
                </ul>
                <!--end tab menu-->

                <div class="tab-content">

                    <div *ngFor="let area of areas" role="tabpanel" [class.active]="area.id === areaSelected" class="tab-pane" id="{{area.id}}">
                        <div class="container">

                            <div class="row">
                                <div *ngFor="let data of area.data; let i = index" class="col-md-3 col-sm-6">
                                    <div class="service-single">
                                        <span class="bg-text">{{(i + 1).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}</span>
                                        <div class="serv-icon">
                                            <img src="assets/img/icon-map-marker.png" class="img-responsive" alt="">
                                        </div>
                                        <!-- <h4>{{data}}</h4> -->
                                        <p>{{data | titlecase}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </div>
                <!--end tab content-->
            </div>
        </div>
    </div>
</section>
<!--end passport process area-->