<!--start welcome area-->
<section id="welcome-area" class="bg-cover">
    <div class="welcome-overlay"></div>
    <!--start container-->
    <div class="container">
        <!--start row-->
        <div class="row">
            <!--start welcome content-->
            <div class="col-md-7">
                <div class="welcome-content">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <!-- <h3 class="text-white animated fadeInLeft">Lorem ipsum</h3> -->
                            <h1 class="text-white">Property Solution</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper sagittis enim, a
                                sodales enim maximus ac. </p>
                            <div class="welcome-btns">
                                <a class="bg" href="">Learn More</a><a href="">Lorem ipsum</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end welcome content-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end welcome area-->