<!-- <div class="section-heading"> -->
  <h4 class="pt-1 pb-4"> <i class="fa fa-map-marker text-danger"></i> Nosso Endereço</h4>
  
<!-- </div> -->

<p>
  Avenida Agamenon Magalhães, nº 2656, Edf.
</p>
<p>
  Empresarial Agamenon Magalhães, sala 606,
</p>
<p>
  Espinheiro, Recife/PE
</p>

<br>
<br>

<agm-map 
[scrollwheel]=false 
[minZoom]=16 
[mapDraggable]=false 
[latitude]="lat" 
[longitude]="lng">
  
  <agm-marker 
  [title]="title" 
  [latitude]="lat" 
  [longitude]="lng">
  </agm-marker>

</agm-map>