<!-- <div class="section-heading"> -->
<h4 class="pt-1"> <i class="fa fa-phone text-danger"></i> (81) 3877-3798 | (81) 99920-5306</h4>
<h4 class="pt-1 pb-4"> <i class="fa fa-map-marker text-danger"></i> Nosso Endereço</h4>

<!-- </div> -->

<p>
  Rua Ribeiro de Brito, n. 830</p>
<p>
  Edf centro empresarial Iberbras, sala 1201,
</p>
<p>
  Boa Viagem, Recife/PE
</p>

<br>
<br>

<agm-map [scrollwheel]=false [minZoom]=16 [mapDraggable]=false [latitude]="lat" [longitude]="lng">

  <agm-marker [title]="title" [latitude]="lat" [longitude]="lng">
  </agm-marker>

</agm-map>