<!-- <div class="container-fluid sticky">
  <div>
    <p *ngIf="type">{{type.label}}</p>
    <form (keyup.enter)="submit()" [formGroup]="form" (submit)="submit()">
      <input type="text" placeholder="Pesquisar" formControlName="search" id="search">

    </form>
  </div>
</div> -->

<nav class="sticky">
  <!-- <form (keyup.enter)="submit()" [formGroup]="form" (submit)="submit()">
    <input type="text" placeholder="Pesquisar" formControlName="search" id="search">

  </form> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="burger-container">
          <div class="burger" (click)="toogleMenu()">
            <div class="line" id="one"></div>
          </div>
        </div>
      </div>
      <div class="col" style="display: flex; justify-content: flex-end; align-items: center; vertical-align: middel;">
        <p *ngIf="type">{{type.label}}</p>
      </div>
    </div>

  </div>

</nav>