<!-- <div class="container-fluid sticky">
  <div>
    <p *ngIf="type">{{type.label}}</p>
    <form (keyup.enter)="submit()" [formGroup]="form" (submit)="submit()">
      <input type="text" placeholder="Pesquisar" formControlName="search" id="search">

    </form>
  </div>
</div> -->

<nav class="sticky">
  <!-- <form (keyup.enter)="submit()" [formGroup]="form" (submit)="submit()">
    <input type="text" placeholder="Pesquisar" formControlName="search" id="search">

  </form> -->
  <div class="container-fluid">
    <div class="row">
        <div class="col" style="display: flex; justify-content: flex-start; align-items: center; vertical-align: middel;">
            <div class="burger-container">
          <div class="burger" (click)="toogleMenu()">
            <div class="line" id="one"></div>
          </div>
        </div>

        <div>
            <a class="btn btn-sm btn-round" [routerLink]="['/']">
              Voltar
            </a>
          </div>
      </div>
      <div class="col" style="display: flex; justify-content: center; align-items: center; vertical-align: middel;">
        <p *ngIf="type" style="font-weight: bold">{{type.label}}</p>
      </div>
      <!-- <div class="col" style="display: flex; justify-content: flex-end; align-items: center; vertical-align: middel;">
        <a [routerLink]="['/']">
          Voltar
        </a>
      </div> -->
    </div>

  </div>

</nav>