<!--start gallery area-->
<section id="gallery-area">
    <!--start container-->
    <div class="container">
        <!--start section heading-->
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h6>Gallery</h6>
                    <h2>Photo Gallery</h2>
                </div>
            </div>
        </div>
        <!--end section heading-->
        <div class="row">
            <div class="col-sm-6">
                <div class="gallery-img-wrapper"> <img src="assets/img/gallery-img-1.png" class="img-responsive wow fadeInLeft"
                        alt=""> </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery-img-wrapper"> <img src="assets/img/gallery-img-2.png" class="img-responsive wow fadeInRight"
                        alt=""></div>
                <div class="gallery-img-wrapper margin-top-30"> <img src="assets/img/gallery-img-3.png" class="img-responsive wow fadeInRight"
                        alt=""></div>
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!--end gallery area-->