@import "../../../assets/sass/paper-kit/variables";

.video-container {
    button {
        background-color: $main-color;
        float: right;
    }
}

@media (max-width: 560px) {
    .video-container {
        width: 100%;

        iframe {
            width: 100%!important;
        }
    }
}