.loading {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    z-index: 99999;
    min-height: 100vh;
    position: absolute;
    background: rgba(#000000, .3);
}