<!--start about area-->
<section id="about-area">
    <!--start container-->
    <div class="container">
        <!--start row-->
        <div class="row">
            <!--start about images-->
            <!-- <div class="col-md-6">
                    <div class="about-images row wow fadeInLeft">
                        <div class="col-sm-6">
                            <img src="http://via.placeholder.com/230x250" class="img-responsive" alt="">
                            <img src="http://via.placeholder.com/230x250" class="img-responsive" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="http://via.placeholder.com/230x500" class="img-responsive two" alt="">
                        </div>
                    </div>
                </div> -->
            <!--end about images-->
            <!--start about content-->
            <div class="col-md-6">
                <div class="about-content">
                    <h6>Lorem ipsum</h6>
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper sagittis enim, a sodales
                        enim maximus ac. Nunc egestas volutpat libero rutrum maximus. Morbi accumsan urna erat,
                        quis dictum lorem lobortis vitae. Duis rhoncus purus nulla. Aliquam et ultrices nulla.
                        Etiam tincidunt arcu ac odio vehicula consectetur. Proin hendrerit nunc tortor, ut aliquet
                        dui interdum ac. Phasellus imperdiet efficitur lorem in hendrerit. Duis laoreet porttitor
                        neque, nec imperdiet erat feugiat vestibulum. Maecenas quis purus magna. Vivamus
                        ullamcorper sit amet nunc sit amet semper. Nulla quis diam justo. Maecenas id ornare nulla,
                        in dapibus nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus.</p>
                    <h5>Lorem ipsum <span>- Lorem</span></h5>
                </div>
            </div>
            <!--end about content-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!--end about area-->