@import "../../../assets/sass/paper-kit/variables";

.new {
    background: #FFFFFF;

    &:hover {
        background: #f9f9f9;
        cursor: pointer;
    
        .card-title {
            color: $main-color!important;

        }
    }

    p, h1, h4 {
        padding: 5px 0px;
        max-width: 100%;
    }

    p {
        text-transform: uppercase;
    }

    .card-title {
        font-weight: 900!important;
        margin: 0!important;
        text-transform: capitalize!important;
    }

    .text-muted {
        text-transform: lowercase!important;
    }

    h4 {
        font-weight: 600;
        display: inline-block;

    }
}