<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">

        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
                <img src="assets/img/brand/logo-nav.png" class="logo" alt="">
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a (click)="navScroll('home')" class="nav-link" target="_blank">
                        Início
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="navScroll('about')" class="nav-link" target="_blank">
                        Quem Somos
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="navScroll('passport-process-area')" class="nav-link" target="_blank">
                        Áreas de atuação
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="navScroll('contact-area')" class="nav-link" target="_blank">
                        Contato
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="navScroll('more-info')" class="nav-link" target="_blank">
                        Links úteis
                    </a>
                </li>
                <li class="nav-item">
                    <a  [routerLink]="['/midia/noticias']" class="nav-link">
                        <span> Mídias</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
