<div class="social-links">
  <ul>
      <li><a href="https://www.facebook.com/propertysolutions.com.br/" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/propertysolutions.com.br/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://wpp-redirect.herokuapp.com/go/?p=5581999205306&m=Ol%C3%A1,%20Property%20-%20Governan%C3%A7a%20Imobili%C3%A1ria%20&%20Consultoria." target="_blank"><i class="fa fa-whatsapp"></i></a></li>
  </ul>
</div>