#dataLoad {
    min-height: 80vh;
    position: relative;
}

#dataLoad #no-data {
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    vertical-align: middle;
    align-items: center;
}

.data-single-container {
    padding: 20px;
    min-height: 150px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.data-single {
    display: block;
    min-width: 100%;
}

.data-single-container:hover {
    background: #ccc;
}