<!--start header-->
<header id="header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default brand-center center-side bootsnav">
        <div class="container-fluid">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand main-logo" href="index.html"><img src="http://via.placeholder.com/211x50" class="logo"
                        alt=""></a>
                <a class="navbar-brand scrolled-logo" href="index.html"><img src="http://via.placeholder.com/211x50"
                        class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav">
                    <li><a href="#welcome-area">Home</a></li>
                    <li><a href="#services-area">Lorem ipsum</a></li>
                    <li><a href="#passport-process-area">Passport</a></li>
                    <li><a href="#visa-process-area">Visa Info</a></li>
                    <li><a href="#location-area">Country</a></li>
                    <!-- <li class="active"><a href="#pricing-area">Pricing</a></li> -->
                    <!-- <li><a href="#versity-area">University</a></li> -->
                    <!-- <li><a href="#gallery-area">Gallery</a></li> -->
                    <li><a href="#news-area">News</a></li>
                    <li><a href="#contact-area">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- End Navigation -->
    <div class="clearfix"></div>
</header>
<!--end header-->