<!--start passport process area-->
<section id="passport-process-area">
    <div class="container">
        <!--start section heading-->
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h6>Lorem ipsum</h6>
                    <h2>Lorem ipsum</h2>
                </div>
            </div>
        </div>
        <!--end section heading-->
        <div class="row">
            <div role="tabpanel">
                <!--start tab menu-->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#child-passport" aria-controls="child-passport" role="tab" data-toggle="tab">
                            PROPERTY
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#first-passport" aria-controls="first-passport" role="tab" data-toggle="tab">
                            LEGAL PERMITS
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#foreign-passport" aria-controls="foreign-passport" role="tab" data-toggle="tab">ASSET
                            MANANGEMENT
                        </a>
                    </li>
                </ul>
                <!--end tab menu-->
                <!--start tab content-->
                <div class="tab-content">
                    <!--start tab content single-->
                    <div role="tabpanel" class="tab-pane active" id="child-passport">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="passport-img wow fadeInLeft">
                                    <img src="http://via.placeholder.com/530x420" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="passport-content">
                                    <h6>Lorem ipsum</h6>
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper sagittis
                                        enim, a sodales enim maximus ac. Nunc egestas volutpat libero rutrum
                                        maximus. Morbi accumsan urna erat, quis dictum lorem lobortis vitae. Duis
                                        rhoncus purus nulla. Aliquam et ultrices nulla. Etiam tincidunt arcu ac
                                        odio vehicula consectetur. Proin hendrerit nunc tortor, ut aliquet dui
                                        interdum ac. Phasellus imperdiet efficitur lorem in hendrerit. Duis laoreet
                                        porttitor neque, nec imperdiet erat feugiat vestibulum. Maecenas quis purus
                                        magna. Vivamus ullamcorper sit amet nunc sit amet semper. Nulla quis diam
                                        justo. Maecenas id ornare nulla, in dapibus nulla. Orci varius natoque
                                        penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end tab content single-->
                    <!--start tab content single-->
                    <div role="tabpanel" class="tab-pane fade" id="first-passport">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="passport-img">
                                    <img src="http://via.placeholder.com/530x420" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="passport-content">
                                    <h6>Lorem ipsum</h6>
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper sagittis
                                        enim, a sodales enim maximus ac. Nunc egestas volutpat libero rutrum
                                        maximus. Morbi accumsan urna erat, quis dictum lorem lobortis vitae. Duis
                                        rhoncus purus nulla. Aliquam et ultrices nulla. Etiam tincidunt arcu ac
                                        odio vehicula consectetur. Proin hendrerit nunc tortor, ut aliquet dui
                                        interdum ac. Phasellus imperdiet efficitur lorem in hendrerit. Duis laoreet
                                        porttitor neque, nec imperdiet erat feugiat vestibulum. Maecenas quis purus
                                        magna. Vivamus ullamcorper sit amet nunc sit amet semper. Nulla quis diam
                                        justo. Maecenas id ornare nulla, in dapibus nulla. Orci varius natoque
                                        penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end tab content single-->
                    <!--start tab content single-->
                    <div role="tabpanel" class="tab-pane fade" id="foreign-passport">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="passport-img">
                                    <img src="http://via.placeholder.com/530x420" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="passport-content">
                                    <h6>Lorem ipsum</h6>
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper sagittis
                                        enim, a sodales enim maximus ac. Nunc egestas volutpat libero rutrum
                                        maximus. Morbi accumsan urna erat, quis dictum lorem lobortis vitae. Duis
                                        rhoncus purus nulla. Aliquam et ultrices nulla. Etiam tincidunt arcu ac
                                        odio vehicula consectetur. Proin hendrerit nunc tortor, ut aliquet dui
                                        interdum ac. Phasellus imperdiet efficitur lorem in hendrerit. Duis laoreet
                                        porttitor neque, nec imperdiet erat feugiat vestibulum. Maecenas quis purus
                                        magna. Vivamus ullamcorper sit amet nunc sit amet semper. Nulla quis diam
                                        justo. Maecenas id ornare nulla, in dapibus nulla. Orci varius natoque
                                        penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end tab content single-->
                    <!--start tab content single-->
                    <div role="tabpanel" class="tab-pane fade" id="renew-passport">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="passport-img">
                                    <img src="http://via.placeholder.com/530x420" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="passport-content">
                                    <h6>Lorem ipsum</h6>
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper sagittis
                                        enim, a sodales enim maximus ac. Nunc egestas volutpat libero rutrum
                                        maximus. Morbi accumsan urna erat, quis dictum lorem lobortis vitae. Duis
                                        rhoncus purus nulla. Aliquam et ultrices nulla. Etiam tincidunt arcu ac
                                        odio vehicula consectetur. Proin hendrerit nunc tortor, ut aliquet dui
                                        interdum ac. Phasellus imperdiet efficitur lorem in hendrerit. Duis laoreet
                                        porttitor neque, nec imperdiet erat feugiat vestibulum. Maecenas quis purus
                                        magna. Vivamus ullamcorper sit amet nunc sit amet semper. Nulla quis diam
                                        justo. Maecenas id ornare nulla, in dapibus nulla. Orci varius natoque
                                        penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end tab content single-->
                    <!--start tab content single-->
                    <div role="tabpanel" class="tab-pane fade" id="second-passport">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="passport-img">
                                    <img src="http://via.placeholder.com/530x420" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="passport-content">
                                    <h6>Lorem ipsum</h6>
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper sagittis
                                        enim, a sodales enim maximus ac. Nunc egestas volutpat libero rutrum
                                        maximus. Morbi accumsan urna erat, quis dictum lorem lobortis vitae. Duis
                                        rhoncus purus nulla. Aliquam et ultrices nulla. Etiam tincidunt arcu ac
                                        odio vehicula consectetur. Proin hendrerit nunc tortor, ut aliquet dui
                                        interdum ac. Phasellus imperdiet efficitur lorem in hendrerit. Duis laoreet
                                        porttitor neque, nec imperdiet erat feugiat vestibulum. Maecenas quis purus
                                        magna. Vivamus ullamcorper sit amet nunc sit amet semper. Nulla quis diam
                                        justo. Maecenas id ornare nulla, in dapibus nulla. Orci varius natoque
                                        penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end tab content single-->
                </div>
                <!--end tab content-->
            </div>
        </div>
    </div>
</section>
<!--end passport process area-->