<!--start news area-->
<section id="news-area" class="bg-dark">
    <!--start container-->
    <div class="container">
        <!--start section heading-->
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h6>News</h6>
                    <h2 class="text-white">Lorem ipsum</h2>
                </div>
            </div>
        </div>
        <!--end section heading-->
        <div class="row">
            <!--start blog single-->
            <div class="col-sm-4">
                <div class="blog-single">

                    <h6>Lorem ipsum</h6>
                    <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                </div>
            </div>
            <!--end blog single-->
            <!--start blog single-->
            <div class="col-sm-4">
                <div class="blog-single">

                    <h6>Lorem ipsum</h6>
                    <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.s</a></h5>
                </div>
            </div>
            <!--end blog single-->
            <!--start blog single-->
            <div class="col-sm-4">
                <div class="blog-single">

                    <h6>Lorem ipsum</h6>
                    <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                </div>
            </div>
            <!--end blog single-->
        </div>
    </div>
    <!--end container-->
</section>
<!--end news area-->