/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    overflow-x: hidden;
}

.full-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-area,
#passport-process-area,
#about,
#more-info {
    padding-top: 118px !important;
}


.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgba(255, 255, 255, 0.87) !important;
}

.mat-form-field-label {
    color: rgba(255, 255, 255, 0.6) !important;
}


.mat-input-element {
    color: rgb(255, 255, 255) !important;
}

.site-preloader.none {
    display: none;
}

.site-preloader {
    background-color: #9F7425;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 99999;
    align-items: center;
    vertical-align: middle;
}

.site-preloader .spinner {
    width: 60px;
    height: 60px;
    margin: 21% auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}


.new div p,
.new div h1,
.new div h2,
.new div h3,
.new div h4,
.new div h6,
.new div i,
.new div a,
.new div span,
.new div b,
.new div font {
    text-transform: uppercase !important;
    text-decoration: none !important;
    color: #000000 !important;
    font-style: normal !important;
    font-weight: 300 !important;

}

.new div img {
    display: none;
}

@media (max-width: 560px) {
    .video-container iframe {
        width: 100% !important;
    }

}

.mat-progress-spinner circle, 
.mat-spinner circle {
    stroke: #d7a56e;
}