.title {
    font-weight: 700;
}

.text {
    font-size: 18px!important;
    line-height: 30px!important;
    text-align: justify;

    img {
        width: 100%!important;
    }

    & > div {
        width: 100%!important;
        padding: 0!important;
    }
    
    p {
        width: 100%!important;
    }
}
