@import "../../../variables.scss";

.new {
    min-height: 200px;
    max-height: 200px;
    background: #FFFFFF;
    padding: 20px;
    // overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;

    p, h1, h4 {
        padding: 5px 0px;
        max-width: 100%;
    }

    p {
        text-transform: uppercase;
    }

    h1 {
        font-weight: 900;
        color: $main-color;
        text-transform: capitalize;
    }

    h4 {
        font-weight: 600;
        display: inline-block;

    }
}